<div class="account">

<h2> all the spends </h2>

<% @account.transactions.each do |transaction|%>
<br> Retailer:  <%= transaction.merchant.name %><br>Description:  <%= transaction.tag.name %><br>Damage done: £<%= transaction.amount %><br>Date: <%= transaction.transaction_date %><hr>

<% end %>


<h3> Your total:</h3>

<p>£<%= @account.total_transactions%></p><hr>


<h3> where do your pennies go? </h3>

<form method="get">
 <label for="search">search by type:</label>
 <select name="search">
 <option value=""></option>
 <% @tags.each do |tag|%>
 <option value="<%=tag.id%>"><%=tag.name %></option>
 <% end %>
 </select>
 <input type="hidden" name="search_type" value="tag">
 <input type="submit" value="search" >
</form>

<form method="get">
 <label for="search">search by merchant:</label>
 <select name="search">
 <option value=""></option>
 <% @merchants.each do |merchant|%>
 <option value="<%=merchant.id%>"><%=merchant.name %></option>
 <% end %>
 </select>
 <input type="hidden" name="search_type" value="merchant">
 <input type="submit" value="search">
</form>

</div>

