<h1>Add new transaction here:</h1>


<form action="/transactions" method="post">
  <label for="merchant">Merchant:</label>
  <select name="merchant_id">
  <% @merchants.each do |merchant|%>
  <option value="<%=merchant.id%>"><%=merchant.name %></option>
  <% end %>
   
    
  </select><br><br>

  <label for="tag">Tag:</label>
  <select name="tag_id">
  <% @tags.each do |tag|%>
  <option value="<%=tag.id%>"><%=tag.name %></option>
  <% end %>
   
    
  </select><br><br>

  <label for="amount">Amount:</label>
  <input type="number" name="amount"><br><br>


  <label for="transaction_date">Date:</label>
  <input type="date" name="transaction_date" value="date.today"><br><br>

  <label for="type">Debit or Credit?:</label>
  <select name="type">
    <option value="debit">Debit</option>
    <option value="credit">Credit</option>
  </select><br><br>
 
  
  <input type='submit' value="Add to Transactions">
</form>

<%= erb(:'merchants/new')  %>
<%= erb(:'tags/new')  %>
